# === Laravel Básico ===
*.log
.DS_Store
.env
.env.backup
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
Thumbs.db

# === Dependencias y cachés ===
/node_modules
/vendor




# Si usas Vercel u otras plataformas
.vercel/

# === Archivos de desarrollo o configuración local ===
Homestead.json
Homestead.yaml

# === Archivos de documentación que no deben ir en exportaciones ===
CHANGELOG.md
.styleci.yml
